<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Manag.io |</a>

    <ul class="navbar-nav mr-auto">
      <div class="dropdown" dropdown>
        <li class="nav-item" routerLinkActive="active" dropdownToggle>
          <a class="nav-link dropdown-toggle"><i class="fa fa-black-tie"></i> Projects</a>
        </li>
        <div class="dropdown-menu mt-2" *dropdownMenu>
          <a class="dropdown-item" href="#"><i class="fa fa-calendar"></i> Add new</a>
          <a class="dropdown-item" href="#"><i class="fa fa-calendar-minus-o"></i> Projects/Clients</a>
        </div>
      </div>
      <div class="dropdown" dropdown>
        <li class="nav-item" routerLinkActive="active" dropdownToggle>
          <a class="nav-link dropdown-toggle"><i class="fa fa-calendar-minus-o"></i> Timesheets</a>
        </li>
        <div class="dropdown-menu mt-2" *dropdownMenu>
          <a class="dropdown-item" href="#"><i class="fa fa-calendar"></i> Monthly</a>
          <a class="dropdown-item" href="#"><i class="fa fa-calendar-minus-o"></i> Annual</a>
        </div>
      </div>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#"><i class="fa fa-spinner"></i> Workflow</a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/register']"><i class="fa fa-users"></i> Users</a>
      </li> -->
      <div class="dropdown" dropdown>
        <li class="nav-item" routerLinkActive="active" dropdownToggle>
          <a class="nav-link dropdown-toggle"><i class="fa fa-users"></i> Users</a>
        </li>
        <div class="dropdown-menu mt-2" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/users/register']"><i class="fa fa-user-plus"></i> Register</a>
          <a class="dropdown-item" [routerLink]="['/users']"><i class="fa fa-address-book"></i> List of Users</a>
        </div>
      </div>
      <!-- <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li> 
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">My Account</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>-->

    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle><i class="fa fa-user-circle"></i>
        Hello {{authService.decodedToken?.unique_name | titlecase}}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edit Profile</a>
        <!-- <a class="dropdown-item" href="#">Another action</a> -->
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>

    <!-- <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
    <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required
      [(ngModel)]="model.username">
    <input class="form-control mr-sm-2" type="text" name="password" placeholder="Password" required
      [(ngModel)]="model.password">
    <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
  </form> -->
  </div>
</nav>