<!-- <p>
  {{user?.jobTitle}} </p>

<p *ngFor="let item of user?.userProjects">
  {{item.projectId}}
</p> -->

<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Firstname</strong>
            <p>{{user?.firstName}}</p>
            <strong>Lastname</strong>
            <p>{{user?.lastName}}</p>
            <strong>Email</strong>
            <p>{{user?.email}}</p>
            <strong>Phone</strong>
            <p>{{user?.phone}}</p>
            <strong>Hire Date</strong>
            <p>{{user?.hireDate | date: 'mediumDate'}}</p>
            <strong>Job Title</strong>
            <p>{{user?.jobTitle}}</p>
          </div>
        </div>
        <div class="card-footer p-3">
          <div>
            <button class="btn btn-primary mb-1 w-100">Edit</button>
            <button class="btn btn-warning w-100">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset>
          <tab heading="Projects">

            <div class="container mt-4">
              <h4>{{user?.firstName}} {{user?.lastName}}'s current projects</h4>
              <table class="table">
                <thead>
                  <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>IsFinished</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of user?.userProjects">
                    <td>{{item.projectNumber}}</td>
                    <td>{{item.projectName}}</td>
                    <td>{{item.isFinished}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- <p *ngFor="let item of user?.userProjects">
              {{item.projectNumber}} {{item.projectName}} {{item.isFinished}}
            </p> -->
          </tab>
          <tab heading="Change password">
            <h4>#$^&*</h4>
            <p>Password changing functionality here.</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>